/* Estilização geral da página */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #D9ADAD;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Garante que o container fique centralizado verticalmente */
}

/* Estilização do título */
h1 {
    color: #E43137;
    margin-top: 20px;
    font-size: 35px;
}

/* Estilização dos campos de entrada */
input {
    width: 250px;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    cursor: cell;
}

input::placeholder {
    color: #E43137;
}

/* Estilização do botão */
button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #E43137 ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    cursor:pointer;
}

/* Efeito hover no botão */
button:hover {
    background-color:#FA7888;
}

.container {
    background: #FFEBE3;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 320px;
}
